body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
    font-size: 9pt;

}

.song {
  width: 360px;
  height: 320px;
  float: left;
  border: 0.5pt dashed #999;
  width: 360px;
  height: 320px;
  page-break-inside: avoid;
}

.art {
  float: left;
  width: 180px;
  height: 180px;
  object-fit: contain;
  object-position: center top;
}

.qrcode {
  float: left;
  width: 180px;
  height: 180px;
}

.labels {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
  width: 160px;
}


p {
  color: black;
  width: 100%;
  margin: 10px 0 0 0;
  text-align: center;
}

h3 {
  margin-top: 6px;
  font-weight: bold;
  font-size: 13pt;
  line-height: 16pt;
  text-align: center;
}

.artist {
}

.album {
}

small {
  color: #999;
  font-size: 7pt;
}
